body{
    margin: 0;
    padding: 10px 10px;
    background-color: #0D192B;
    display: flex;
   
    align-items: center;
    justify-content: center;
     height: 100vh; */

}

#bac
{
    padding: 15px;
    height: auto;
    width: 380px;
    border: 1px solid;
    border-radius: 20px;
  display: flex;
   flex-direction: column;
   color: #14253D;
   background-color: #14253D;
}
#img
{
    height: 20rem;
    width: 350px;
    border: 1px ;
    border-radius: 20px;
    display: block;
    margin: 0 auto;

}
#equi
{
    text-align: start;
    color: white;
    font-size: 25px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#para
{
    
    font-size: 22px;
    color: #8BACDA;
    padding: 15px;

}
h1,p
{
    margin: 0;
    padding: 0;
}
#rel
{
    width: 340px;
    border: 1px none solid;
    height: 10px;
    border-radius: 20px;
     padding: 15px;
     position: relative;
}
#il
{
    position: absolute;
    top: 10px;
}
#ill
{
    position: absolute;
    left: 37px;
    top: 9px;
    font-size: 20px;
    color:#00FFF7;
    
}

#clo
{
    position: absolute;
    right: 100px;
    top: 12px;

}
#clo1
{
    position: absolute;
    top: 10px;
    font-size: 20px;
    right: 5px;
    color: #00FFF7;
}
.line {
  height: 1.5px;            
  background-color: #2F415B; 
  width: 100%;              
  margin: 15px 0;           
}
#fi
{
    height: 50px;
    width: 100%;
    border: 1px solid none;
    position: relative;
}
#fii
{
    position: relative;
    left: 0;
    height: 30px;
    width: 30px;
    top: 9px;
}
#fn
{
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 13px;
    right: 40%;
}
#half
{
    color: #2F415B;
    
    
}
#halfii
{
    color: white;
}

#img:hover {
  filter: brightness(1.3);
  transition: 1s;
  box-shadow: 0 0 15px #00FFF7;
  
}
